<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/administracion?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">mysql</property>
    <mapping resource="hibernate/EstadoCampo.hbm.xml"/>
    <mapping resource="hibernate/Lote.hbm.xml"/>
    <mapping resource="hibernate/Campo.hbm.xml"/>
    <mapping resource="hibernate/TipoSuelo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
